# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Mac
.DS_Store

# Visual Studio / .NET
.vs/
[Bb]in/
[Oo]bj/
[Oo]ut/
*.user
*.userosscache
*.suo
*.sln.docstates

# Appsettings secrets
appsettings.Development.json
appsettings.Local.json
.env
.env.*

# Certificados SSL autoassinados
security/nginx-selfsigned.crt
security/nginx-selfsigned.key