# Configurações AWS
AWS__Region=us-east-1
AWS__UseProfile=true
AWS__ProfileName=default
AWS__AccessKey=
AWS__SecretKey=
AWS__ServiceUrl=
AWS__UseLocalStack=false

# Configurações SQS
SQS__FilaExecucao=fila-execucao
SQS__FilaExecucaoQuery=fila-execucao-query-dev
SQS__MaxNumberOfMessages=10
SQS__WaitTimeSeconds=20
SQS__VisibilityTimeoutSeconds=300

# Configurações DynamoDB
DynamoDB__TableNameExecucao=Execucao
DynamoDB__TableNameVerificacao=Verificacao
DynamoDB__TableNameExecucaoVerificacao=ExecucaoVerificacao
DynamoDB__ServiceUrl=
DynamoDB__UseLocalStack=false

# Configurações de Log
Logging__LogLevel__Default=Information
Logging__LogLevel__Microsoft.Hosting.Lifetime=Information
Logging__LogLevel__EmbaixadasWorkManager=Debug

